@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");


.site-header__container
{
  height: 120px;
  width: 100%;
  
  display: flex;
  justify-content: center;
}
.site-header {
  height: 120px;
  width: 80%;
  padding: 0 10px 0 20px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  font-family: "Anton", ui-sans-serif, system-ui, sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 130px;
  height: 130px;

  display: block;
  object-fit: contain;
}

.site-header__logo{
  height: 120px;
  width: 120px;
}

.site-header__nav_1 {
  height: 80px;
  width: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header__nav_2 {
  height: 80px;
  width: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}
